body {
    font-family: 'Roboto', sans-serif;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 16px;
    background-color: #FBFBFB;
}

body > p > strong {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.18px;
    font-weight: normal;
    color: #000000;
}

h1 {
    font-weight: normal;
    color: #000000;
    margin-left: 0px;
    font-size: 16px;
    margin-top: 30px;
    line-height: 24px;
}

p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #00000098;
}

body > p:nth-child(1),
body > p:nth-child(7),
ol {
    margin-top: 16px;
    margin-bottom: 16px;
}
ol {
    padding-left: 16px;
}
body > p:nth-child(3),
body > p:nth-child(5),
body > p:nth-child(8),
body > p:nth-child(9),
body > p:nth-child(10),
ol ~ p {
    margin-top: 16px;
    margin-bottom: 16px;
}
ol li::marker {
    color: #000000;
    font-weight: normal;
    font-size: 16px;
}
ol:nth-of-type(9) ~ ol {
    margin-left: 16px;
}
ul {
    padding-left: 16px;
    color: #00000098
}